.d-sidebar {
  width: 280px;
  overflow: auto;
  border-right: 1px solid #ddd;
  flex-shrink: 0;
}

.d-sidebar__title {
  font-weight: bold;
}

.d-sidebar__item {
  padding: 8px 16px;
  display: block;
  color: #212121;
  text-decoration: none;
}

.d-sidebar__item_active {
  background-color: #e3f2ff;
}
