.s-map-layout {
    position: relative;
    width: 100%;
    height: 420px;
}

.s-map-layout_empty::before,
.s-map-layout_loading::before {
    z-index: calc(var(--zindex-map-elements) + 1);
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right:  0;
    top: 0;
    bottom: 0;
    background-image: url('svg/s-pickup-map__loading-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.s-map-layout_loading::before {
    background-image: url("svg/s-pickup-map__loading.svg"), url('svg/s-pickup-map__loading-bg.jpg');
    background-size: 50px, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}
