.s-map__marker {
    position: relative;
    outline:  none;
}

.s-map__marker span {
    font-size:     15px;
    content:       "";
    position:      absolute;
    display:       block;
    left:          50%;
    transform:     translate(-50%, -50%);
    color:         #fff;
    height:        26px;
    line-height:   26px;
    white-space:   nowrap;
    border-radius: 100px;
    padding:       0 12px;
    top:           -14px;
}

.s-map__marker span::after {
    content:  "";
    position: absolute;
    left:     calc(50% - 8px);
    top:      100%;
    border:   8px solid transparent;
    width:    0;
}

.s-map__marker_point span {
    background-color: var(--primary);
}

.s-map__marker_point span::after {
    border-top: 8px solid var(--primary);
}

.s-map__marker_selected span {
    background-color: var(--accent);
}

.s-map__marker_selected span::after {
    border-top: 8px solid var(--accent);
}

.s-map__marker-my::after {
    content:          'Я';
    text-align:       center;
    font-size:        14px;
    line-height:      24px;
    width:            24px !important;
    height:           24px !important;
    background-color: var(--accent);
    border-radius:    50%;
    color:            #fff;
    display:          inline-block;
    position:         absolute;
    left:             50%;
    top:              50%;
    transform:        translate(-50%, -50%);
}

.s-map__marker-my::before {
    content:          '';
    display:          inline-block;
    background-color: rgba(243, 88, 94, 0.51);
    height:           32px !important;
    width:            32px !important;
    border-radius:    50%;
    position:         absolute;
    left:             50%;
    top:              50%;
    transform:        translate(-50%, -50%);
}
