.s-map-empty {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    z-index: calc(var(--zindex-map-elements) + 2);
}

.s-map-empty__header {
    font: 600 20px/1.3 var(--font-header);
    margin-bottom: 16px;
}

.s-map-empty__description {
    margin-bottom: 24px;
    max-width: 350px;
}

.s-map-empty__footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
