.s-map__current-position {
    position:      absolute;
    left:          16px;
    top:           16px;
    height:        44px;
    width:         44px;
    border-radius: 50%;
    background:    #fff url("svg/s-pickup-map__current-position.svg") no-repeat center left 9px;
    appearance:    none;
    border:        none;
    text-indent:   -9999px;
    z-index:       var(--zindex-map-elements);
    outline:       none;
    cursor:        pointer;
}

.s-map__current-position_pending {
    background:      #fff url("svg/s-pickup-map__loading.svg") no-repeat center;
    background-size: 32px;
    pointer-events:  none;
}
