.s-hide {
    display: none;
}

@media (--desktop) {
    .s-hide-desktop {
        display: none;
    }
}

@media (--under-desktop) {
    .s-hide-under-desktop {
        display: none;
    }
}

@media (--under-tablet) {
    .s-hide-under-tablet {
        display: none;
    }
}
