.s-card__close {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 12px;
    top: 12px;
    background: url("s-card__close.svg") no-repeat center;
    background-size: 12px;
    outline: none;
    transition: opacity var(--transition-duaration);
    opacity: .6;
}

.s-card__close + .s-card__header {
    padding-right: 42px;
}

.s-card__close:hover {
    opacity: 1;
}

