.s-card__header {
    padding: 16px 16px 0;
}

.s-card__header_dark {
    background-color: var(--secondary-3);
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    display: flex;
    align-items: center;
    height: 60px;
}

@media (--desktop) {
    .s-card__header {
        padding: 24px 24px 0;
    }
}

