.s-card {
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

.s-card_bordered {
    box-shadow: none;
    border: 1px solid var(--secondary-3);
}

.s-card_primary {
    border-color: var(--primary);
    -webkit-box-shadow: 0 0 0 1px var(--primary);
}


@media (--desktop) {
    .s-card_dense .s-card__header {
        padding: 16px 16px 0;
    }

    .s-card_dense .s-card__body {
        padding: 16px;
    }
}
