.marker-cluster-medium {
  }

.marker-cluster-medium div {
  width:  36px;
  height: 36px;
  }

.marker-cluster-large {
  }

.marker-cluster-large div {
  width:  42px;
  height: 42px;
  }

.marker-cluster {
  background-clip:  padding-box;
  border-radius:    20px;
  background-color: rgba(74, 96, 227, 0.5);
  }

.marker-cluster div {
  background-color: var(--primary);
  color:            #fff;
  width:            30px;
  height:           30px;
  margin-left:      5px;
  margin-top:       5px;

  text-align:       center;
  border-radius:    15px;
  font:             15px "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

.marker-cluster span {
  line-height: 30px;
  }
