@keyframes dialog-bg-open {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, .6);
    }
}

@keyframes dialog-bg-close {
    from {
        background-color: rgba(0, 0, 0, .6);
    }

    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes dialog-desktop-open {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes dialog-desktop-close {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes dialog-mobile-open {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes dialog-mobile-close {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

