.s-dialog {
    width: 100%;
    height: 100%;
    background-color: #fff;
    max-width: 426px;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (--iphone6) {
    .s-dialog {
        margin-left: 32px;
    }
}

@media (--desktop) {
    .s-dialog {
        display: block;
        transform: scale(1);
        border-radius: 8px;
        height: auto;
        box-shadow: var(--box-shadow);
    }
}
