.s-dialog__back {
    position: absolute;
    top: 24px;
    left: 16px;
    height: 16px;
    width: 16px;
    background-image: url("svg/s-dialog__back.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (--desktop) {
    .s-dialog__back {
        top: 16px;
        height: 24px;
        width: 24px;
    }
}
