.s-dialog__header {
    position: fixed;
    left: 0;
    right: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 48px;
    box-shadow: var(--box-shadow-top);
}

@media (--desktop) {
    .s-dialog__header {
        position: static;
        height: auto;
        padding: 52px 40px 0;
        box-shadow: none;
    }
}
