.s-dialog__body {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 16px;
    margin-top: 64px;
    flex-grow: 1;
}

@media (--desktop) {
    .s-dialog__body {
        flex-grow: 0;
        overflow-x: visible;
        overflow-y: visible;
        margin-top: 0;
        padding: 32px 40px;
    }
}
