.s-dialog-layout {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: var(--zindex-dialog-layout);
    justify-content: flex-end;
}

.s-dialog-layout::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
}

.s-dialog-layout-entering::before,
.s-dialog-layout-entered::before {
    animation: dialog-bg-open var(--transition-duaration) forwards;
}

.s-dialog-layout-leaving::before {
    animation: dialog-bg-close var(--transition-duaration);
}

.s-dialog-layout-entered .s-dialog,
.s-dialog-layout-entering .s-dialog {
    animation: dialog-mobile-open var(--transition-duaration) forwards;
}

.s-dialog-layout-leaving .s-dialog {
    animation: dialog-mobile-close var(--transition-duaration);
}

@media (--desktop) {
    .s-dialog-layout {
        overflow: auto;
        justify-content: center;
        align-items: flex-start;
        padding: 120px 0;
    }

    .s-dialog-layout-entered .s-dialog,
    .s-dialog-layout-entering .s-dialog {
        animation: dialog-desktop-open var(--transition-duaration) forwards;
    }

    .s-dialog-layout-leaved .s-dialog,
    .s-dialog-layout-leaving .s-dialog {
        animation: dialog-desktop-close var(--transition-duaration);
    }
}
