.s-radio__icon {
    position: absolute;
    left: 0;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    width: var(--checkbox-height);
    height: var(--checkbox-height);
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--secondary-2);
    transition: background-color var(--transition-duaration), border-color var(--transition-duaration);
}

.s-radio__icon::after {
    content: '';
    background-color: #fff;
    border-radius: 50%;
    width: 6px;
    height: 6px;
}

.s-radio__input:checked ~ .s-radio__icon {
    background-color: var(--primary);
    border-color: var(--primary);
}
