.s-radio_size_large {
    padding-left: 2.2em;
}

.s-radio_size_large .s-radio__icon {
    width: var(--checkbox-height-large);
    height: var(--checkbox-height-large);
}

.s-radio_size_large .s-radio__icon::after {
    transform: scale(1.5);
}
