*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height:     100%;
}

body {
    margin:                      0;
    padding:                     0;
    font-family:                 var(--font-body);
    font-size:                   var(--size-text);
    background-color:            #fff;
    line-height:                 1;
    text-rendering:              optimizeLegibility;
    text-decoration-skip:        objects;
    -webkit-text-size-adjust:    100%;
    -webkit-font-smoothing:      antialiased;
    -webkit-tap-highlight-color: transparent;
}

p,
dd,
dl {
    margin: 0;
}

ul,
ol {
    padding:         0;
    margin:          0;
    list-style-type: none;
}

table {
    border-collapse: collapse;
    border-spacing:  0;
}

th {
    font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:      0;
    font-size:   inherit;
    font-weight: inherit;
}

audio,
video {
    display: block;
}

img {
    border:     none;
    max-width:  100%;
    max-height: 100%;
}

pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size:   inherit;
}

a {
    color: inherit;
}

b,
strong {
    font-weight: inherit;
}

i,
em {
    font-style: inherit;
}

small {
    font-size: inherit;
}

sub,
sup {
    position:       relative;
    vertical-align: baseline;
    font-size:      inherit;
    line-height:    0;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

button,
input,
optgroup,
select,
textarea {
    padding:          0;
    margin:           0;
    border:           none;
    border-radius:    0;
    box-shadow:       none;
    background-color: transparent;
    font:             inherit;
    color:            inherit;
    letter-spacing:   inherit;
}

input[type='text'] {
    appearance: none;
}

button,
input {
    overflow: visible;
}

select {
    appearance:     none;
    text-align:     left;
    text-transform: none;
}

select::-ms-expand {
    display: none;
}

input, select {
    background-color: #fff;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    cursor:     pointer;
    appearance: none;
    outline:    none;
}

textarea {
    resize:     none;
    overflow-y: auto;
    overflow-x: hidden;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border:  none;
    padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: none;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

::-webkit-file-upload-button {
    -webkit-appearance: none;
    font:               inherit;
}

::-webkit-input-placeholder {
    color:      inherit;
    opacity:    1;
    transition: opacity var(--transition-duaration);
}

:-moz-placeholder {
    color:      inherit;
    opacity:    1;
    transition: opacity var(--transition-duaration);
}

:-ms-input-placeholder {
    color:      inherit;
    opacity:    1;
    transition: opacity var(--transition-duaration);
}

:focus::-webkit-input-placeholder {
    opacity: 0;
}

:focus:-moz-placeholder {
    opacity: 0;
}

:focus:-ms-input-placeholder {
    opacity: 0;
}

svg {
    display: block;
    width:   100%;
    height:  100%;
    fill:    currentColor;
}

:disabled,
.disabled {
    pointer-events: none;
    cursor:         not-allowed;
    opacity:        .7;
    user-select:    none;
}

::-ms-clear {
    display: none;
}

:-webkit-autofill {
    box-shadow:              0 0 100px #fff inset;
    -webkit-text-fill-color: currentColor;
}
