@custom-media --iphone5 (max-width: 374px);

@custom-media --iphone6 (min-width: 375px);

@custom-media --phone (min-width: 544px);

@custom-media --tablet (min-width: 768px);

@custom-media --desktop (min-width: 992px);

@custom-media --under-desktop (max-width: 991px);

@custom-media --under-tablet (max-width: 767px);

@custom-media --large-desktop (min-width: 1240px);

@custom-media --hd-desktop (min-width: 1560px);

@custom-media --small-height (max-height: 768px);

@custom-media --landscape (orientation: landscape) and (max-width: 767px), (min-width: 768px) and (max-width: 991px);

@custom-media --retina2x (min-resolution: 192dpi);

@custom-media --retina3x (min-resolution: 350dpi);

@custom-media --ie screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none);
