:root {
    --primary: #4a60e3;
    --secondary-1: #838d9a;
    --secondary-2: #C2C7CD;
    --secondary-3: #DADDE1;
    --accent: #F3585E;
    --positive: #4dc95b;
    --negative: #f75a5b;
    --warning: #fcf5dd;
    --info: #F3585E;
    --dark: #071d36;
    --light: #f5f6f7;

    --input-font-size: 14px;
    --input-text-color: #071d36;
    --input-label-color: #999;
    --input-autofill-color: inherit;

    --border-color: #c2c7cd;

    --transition-duaration: .16s;

    --space-base: 16px;

    --font-header: 'Montserrat', sans-serif;
    --font-body: 'Helvetica', 'Open Sans', 'Arial', sans-serif;
    --font-weight-bold: 600;

    --box-shadow: 0px 6px 18px rgba(7, 29, 54, 0.15);
    --box-shadow-left: -8px 0px 18px rgba(7, 29, 54, 0.15);
    --box-shadow-top: 0px -6px 18px rgba(7, 29, 54, 0.15);

    --size-text: 16px;
    --size-text-sm: 0.8125rem;

    --size-h1: 3.5rem;
    --size-h2: 2.5rem;
    --size-h3: 1.625rem;
    --size-h4: 1.25rem;
    --size-h5: 1rem;
    --size-h6: 0.75rem;

    --size-btn-small: 32px;
    --size-btn-default: 40px;
    --size-btn-large: 52px;

    --input-height: 50px;
    --input-padding: 10px;
    --input-border-radius: 4px;
    --input-focus-color: #388ee5;

    --checkbox-height: 20px;
    --checkbox-height-large: 28px;

    --header-padding: 0.3em;

    --zindex-dialog-layout: 4000;
    --zindex-popup-layout: 5000;

    --zindex-map-empty:                  1700;
    --zindex-map-elements:               1500;
}
