.s-button {
    height: calc(var(--size-btn-default) + 4px);
    line-height: calc(var(--size-btn-default) + 4px);
    display: inline-block;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: 4px;
    color: #fff;
    padding: 0 16px;
    transition: background-color var(--transition-duaration);
    user-select: none;
    font-size: 1rem;
}

.s-button:hover {
    background-color: color(var(--primary) lightness(52%));
    border: 1px solid color(var(--primary) lightness(52%));
}

.s-button:active {
    background-color: color(var(--primary) lightness(46%));
    border: 1px solid color(var(--primary) lightness(46%));
}

@media (--desktop) {
    .s-button {
        height: var(--size-btn-default);
        line-height: var(--size-btn-default);
        font-size: 0.9375em;
    }
}

