.s-list__item {
    padding: 16px 24px;
    transition: background-color var(--transition-duaration), box-shadow var(--transition-duaration);
    border: 1px solid var(--border-color);
}

.s-list__item_active + .s-list__item {
    border-top-color: var(--primary);
}

.s-list__item:first-of-type {
    border-radius: 8px 8px 0 0;
}

.s-list__item:last-of-type {
    border-radius: 0 0 8px 8px;
}

@media (--desktop) {
    .s-list__item:not(:last-of-type) {
        border-bottom-width: 0;
    }

    .s-list_horizontal .s-list__item {
        flex-grow: 1;
    }

    .s-list_horizontal .s-list__item:not(:last-of-type) {
        border-right-width: 0;
        border-bottom-width: 1px;
    }

    .s-list_horizontal .s-list__item_active + .s-list__item {
        border-left-color: var(--primary);
        border-top-color: var(--border-color)
    }

    .s-list_horizontal .s-list__item:first-of-type {
        border-radius: 8px 0 0 8px;
    }

    .s-list_horizontal .s-list__item:last-of-type {
        border-radius: 0 8px 8px 0;
    }
}
