@keyframes popup-bg-open {
    from {
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        background-color: rgba(0, 0, 0, .6);
    }
}

@keyframes popup-bg-close {
    from {
        background-color: rgba(0, 0, 0, .6);
    }

    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

@keyframes popup-desktop-open {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes popup-desktop-close {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes popup-mobile-open {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes popup-mobile-close {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}

