.s-popup-layout {
    z-index: var(--zindex-popup-layout);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.s-popup-layout::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
}

@media (--under-desktop) {
    .s-popup-layout-entering::before,
    .s-popup-layout-entered::before {
        animation: popup-bg-open var(--transition-duaration) forwards;
    }

    .s-popup-layout-leaving::before {
        animation: popup-bg-close var(--transition-duaration);
    }

    .s-popup-layout-entered .s-popup,
    .s-popup-layout-entering .s-popup {
        animation: popup-mobile-open var(--transition-duaration) forwards;
    }

    .s-popup-layout-leaving .s-popup {
        animation: popup-mobile-close var(--transition-duaration);
    }
}

@media (--desktop) {
    .s-popup-layout {
        position: absolute;
        min-width: 320px;
        right: auto;
        bottom: auto;
        display: block;
    }

    .s-popup-layout::before {
        content: none;
        display: none;
        animation: none;
    }

    .s-popup-layout-entered,
    .s-popup-layout-entering {
        animation: popup-desktop-open var(--transition-duaration) forwards;
    }

    .s-popup-layout-leaved,
    .s-popup-layout-leaving {
        animation: popup-desktop-close var(--transition-duaration);
    }
}
