.s-popup {
    background-color: #fff;
    padding: 16px;
    margin-top: auto;
    border-radius: 8px 8px 0 0;
}

@media (--desktop) {
    .s-popup {
        margin-top: 0;
        border-radius: 4px;
        box-shadow: var(--box-shadow);
        padding: 24px;
    }
}
