.s-button_accent {
    border: 1px solid var(--accent);
    background-color: var(--accent);
    color: #fff;
}

.s-button_accent:hover {
    background-color: color(var(--accent) lightness(52%));
    border: 1px solid color(var(--accent) lightness(52%));
}

.s-button_accent:active {
    background-color: color(var(--accent) lightness(46%));
    border: 1px solid color(var(--accent) lightness(46%));
}

.s-button_positive {
    border: 1px solid var(--positive);
    background-color: var(--positive);
    color: #fff;
}

.s-button_positive:hover {
    background-color: color(var(--positive) lightness(52%));
    border: 1px solid color(var(--positive) lightness(52%));
}

.s-button_positive:active {
    background-color: color(var(--positive) lightness(46%));
    border: 1px solid color(var(--positive) lightness(46%));
}

.s-button_secondary {
    border: 1px solid var(--secondary-1);
    background-color: var(--secondary-1);
    color: #fff;
}

.s-button_secondary:hover {
    background-color: color(var(--secondary-1) lightness(52%));
    border: 1px solid color(var(--secondary-1) lightness(52%));
}

.s-button_secondary:active {
    background-color: color(var(--secondary-1) lightness(46%));
    border: 1px solid color(var(--secondary-1) lightness(46%));
}
