.s-button_disabled {
    pointer-events: none;
    cursor: default;
}

.s-button_disabled {
    background-color: var(--secondary-2);
    border-color: var(--secondary-2);
    color: #fff;
}

.s-button_outline.s-button_disabled {
    color: var(--secondary-2);
    background-color: transparent;
}

.s-button_flat.s-button_disabled {
    color: var(--secondary-2);
    background-color: transparent;
    border-color: transparent;
}
