.s-button_flat {
    color: var(--primary);
    border-color: color(var(--primary) lightness(120%));
}

.s-button_flat, .s-button_flat.s-button_accent, .s-button_flat.s-button_positive {
    background-color: transparent;
}

.s-button_flat:active {
    background-color: inherit;
}

.s-button_flat:hover {
    border-color: color(var(--primary) lightness(120%));
    background-color: color(var(--primary) lightness(98%));
}

.s-button_flat.s-button_accent {
    color: var(--accent);
    border-color: color(var(--accent) lightness(120%));
}

.s-button_flat.s-button_accent:hover {
    border-color: color(var(--accent) lightness(120%));
    background-color: color(var(--accent) lightness(98%));
}

.s-button_flat.s-button_positive {
    color: var(--positive);
    border-color: color(var(--secondary-1) lightness(120%));
}

.s-button_flat.s-button_positive:hover {
    border-color: color(var(--secondary-1) lightness(120%));
    background-color: color(var(--secondary-1) lightness(98%));
}

.s-button_flat.s-button_secondary {
    color: var(--dark);
    border-color: color(var(--secondary-1) lightness(120%));
}

.s-button_flat.s-button_secondary:hover {
    border-color: color(var(--secondary-1) lightness(120%));
    background-color: color(var(--secondary-1) lightness(98%));
}
