.s-button_has-icon, .s-button_has-icon-right {
    background-size: 16px;
    background-repeat: no-repeat;
}

.s-button_has-icon {
    padding-left: 46px;
    background-position: left 16px center;
}

.s-button_has-icon:empty {
    background-position: center;
}

.s-button_has-icon-right {
    padding-right: 46px;
    background-position: right 16px center;
}

.s-button_has-icon.s-button_has-icon-right {
    background-position: left 16px center, right 16px center !important;
}
