.s-button_outline {
    color: var(--primary);
    background-color: color(var(--primary) lightness(98%));
}

.s-button_outline, .s-button_outline.s-button_accent, .s-button_outline.s-button_positive {
    background-color: transparent;
}

.s-button_outline:active {
    background-color: inherit;
}

.s-button_outline:hover {
    background-color: color(var(--primary) lightness(98%));
}

.s-button_outline.s-button_accent {
    color: var(--accent);
}

.s-button_outline.s-button_accent:hover {
    background-color: color(var(--accent) lightness(98%));
}

.s-button_outline.s-button_positive {
    color: var(--positive);
}

.s-button_outline.s-button_positive:hover {
    background-color: color(var(--secondary-1) lightness(98%));
}

.s-button_outline.s-button_secondary {
    color: var(--dark);
}

.s-button_outline.s-button_secondary:hover {
    background-color: color(var(--secondary-1) lightness(98%));
}
