.s-button_size_small {
    height: var(--size-btn-small);
    line-height: var(--size-btn-small);
    padding: 0 12px;
}

.s-button_size_large {
    height: var(--size-btn-large);
    line-height: var(--size-btn-large);
    padding: 0 24px;
}
