@each $size, $value in (xs, sm, md, lg), (4px, 8px, 16px, 24px) {
    .s-gutter-$(size) {
        margin-left: -$(value);
        margin-top: -$(value);
    }

    .s-gutter-$(size) > * {
        margin-left: $(value);
        margin-top: $(value);
    }
}

@each $size, $value in (xs, sm, md, lg), (4px, 8px, 16px, 24px) {
    .s-gutter-x-$(size) {
        margin-left: -$(value);
    }

    .s-gutter-x-$(size) > * {
        margin-left: $(value);
    }
}

@each $size, $value in (xs, sm, md, lg), (4px, 8px, 16px, 24px) {
    .s-gutter-y-$(size) {
        margin-top: -$(value);
    }

    .s-gutter-y-$(size) > * {
        margin-top: $(value);
    }
}
