.s-button-option {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: background-color var(--transition-duaration), color var(--transition-duaration);
    padding: 8px 16px;
    user-select: none;
}

.s-button-option_active {
    background-color: var(--primary) !important;
    color: #fff;
    pointer-events: none;
}

.s-button-option input {
    display: none;
}

.s-button-option:hover {
    background-color: var(--light);
}

@media (--desktop) {
    .s-button-option {
        padding: 0 32px;
        white-space: nowrap;
    }
}
