h1, h2, h3, h4, h5, h6, .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
    font-family: var(--font-header);
    font-weight: var(--font-weight-bold);
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: .3em;
}

h1, .text-h1 {
    font-size: var(--size-h1);
}

h2, .text-h2 {
    font-size: var(--size-h2);
}

h3, .text-h3 {
    font-size: var(--size-h3);
}

h4, .text-h4 {
    font-size: var(--size-h4);
}

h5, .text-h5 {
    font-size: var(--size-h5);
}


h6, .text-h6 {
    font-size: var(--size-h6);
}
