.text-small {
    font-size: var(--size-text-sm);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-bold {
    font-weight: var(--font-weight-bold);
}

.text-normal {
    font-weight: normal;
}

.text-no-wrap {
    white-space: nowrap;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}
