.s-checkbox__icon {
    position: absolute;
    left: 0;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    width: var(--checkbox-height);
    height: var(--checkbox-height);
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid var(--secondary-2);
    transition: background-color var(--transition-duaration), border-color var(--transition-duaration);
}

.s-checkbox__input:checked ~ .s-checkbox__icon {
    background-color: var(--primary);
    border-color: var(--primary);
}
