.s-input__input {
    height: var(--input-height);
    padding: 0 var(--input-padding);
    border: 1px solid var(--secondary-3);
    border-radius: var(--input-border-radius);
    outline: none;
    transition: border-color .18s, box-shadow .18s;
    width: 100%;
}

.s-input__input::placeholder {
    color: transparent;
}

.s-input__input:focus {
    border-color: var(--input-focus-color);
    box-shadow: 0 0 5px -2px var(--input-focus-color);
}

.s-input__input:focus ~ .s-input__placeholder {
    display: none;
}


select.s-input__input {
    background-image: url('s-input__input.svg');
    background-repeat: no-repeat;
    background-position: right 16px center;
}
