.s-input__label {
    color: var(--secondary-1);
    padding-left: calc(var(--input-padding) + 1px);
    position: absolute;
    transition: transform var(--transition-duaration), font-size var(--transition-duaration), color var(--transition-duaration);
}
