.s-input_has_placeholder > .s-input__input:not(:focus) {
    color: #fff;
}

.s-input_has_placeholder > .s-input__input,
.s-input__input:not(:placeholder-shown) {
    padding: 14px var(--input-padding) 0;
}

.s-input_has_placeholder > .s-input__label,
.s-input__input:not(:placeholder-shown) ~ .s-input__label {
    transform: translateY(-.8em);
    font-size: var(--size-h6);
    pointer-events: none;
}

.s-input_has_error .s-input__input {
    border-color: var(--negative);
    background-color: color(var(--negative) lightness(98%));
}

.s-input_has_error .s-input__input:focus {
    box-shadow: 0 0 5px -2px var(--negative);
}

.s-input_has_error .s-input__label {
    color: var(--negative);
}

.s-input_has_button .s-input__input {
    border-radius: var(--input-border-radius) 0 0 var(--input-border-radius);
    border-right: none;
}

.s-input_has_button .s-button {
    align-self: stretch;
    height: auto;
    border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
}
